.App {
  width: 100vw;
  height: 100vh;
}

.card{
  display: flex;
  height: 350px;
  width: 280px;
  border-radius: 20px;
  
  justify-content: center;
  flex-wrap: wrap;
}

.card-image{
  width: 285px;
  height: 285px;
  margin: 10px;
  border-radius: 20px;
  
}